.Banner {
    height: 400px;
    position: relative;
}


.Banner .Media {
    background-color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size:contain !important;
    background-repeat: no-repeat !important; /* Ngăn lặp lại hình ảnh */
}

.MediaCaption {
    text-align: right;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}


@media only screen and (max-width: 950px) {
    .Banner {
        height: 300px;
    }
    .MediaCaption {
        font-size: 12px;
        font-weight: 100;
    }
    
}

@media only screen and (max-width: 750px) {
    .Banner {
        height: 250px;
        position: relative;
    }
}

@media only screen and (max-width: 650px) {
    .Banner {
        margin-top: unset;
        padding-bottom: 35px;
    }
}

/* 
@media only screen and (max-width: 650px) {
    .Banner {
        height: 400px;
        position: relative;
    }
     .Banner .Media .MediaCaption {
        padding: 10px;
        width: 100%;
        font-size: 12px;
        font-weight: 100;
    }
}


@media only screen and (max-width: 550px) {
    .Banner {
        height: 220px;
        position: relative;
    }
     .Banner .Media .MediaCaption {
        padding: 10px;
        width: 100%;
        font-size: 12px;
        font-weight: 100;
    }
} */

.MediaCaption:hover {
    opacity: 0.8;
}

.Banner .Media:hover {
    filter: brightness(115%);
}

.Banner .BannerGrid {
    height: 100%;
    position: relative;
}

.Banner .Content {
    color: white;
    background-color: darkred;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding: 30px;
    transition: 300ms;
}

.Banner .Content:hover,
.Banner .Content:active {
    background-color: darkred;
}

.Banner .Content .ViewButton {
    margin-top: 40px;
    color: white;
    font-size: 16px;
    border: 3px solid white;
    text-transform: capitalize;
    transition: 200ms;
}

