.Media {
    background-color: white;
    height: 100%;
    /* overflow: hidden;
    position: relative; */
    background-size:contain !important;
    background-repeat: no-repeat !important; /* Ngăn lặp lại hình ảnh */
}

.MediaCaption {
    text-align: right;
    background-color: transparent;
    color: black;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}

.product_card {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;    
    margin-right: 30px;
}